body {
    margin:0 auto;
    padding:0 20% 0 20%;
    background:#F6F6F3;
}
@font-face {
    font-family:"PAC-FONT.TTF";
    src:url("http://oxajtdreb.bkt.clouddn.com/PAC-FONT.TTF");
}
@font-face {
    font-family:"hanyi.ttf";
    src:url("http://oxajtdreb.bkt.clouddn.com/hanyi.ttf");
}
@font-face {
    font-family:"shishangzhonghe.ttf";
    src:url("http://oxajtdreb.bkt.clouddn.com/shishangzhonghe.ttf");
}
a {
    color:#6E7173;
    text-decoration:underline;
    margin:3px;
}
a:visited,a:hover,a:focus{
    outline:solid 2px #3F3F3F;
}
.header p a:link,.header p a:visited,.header p a {
    color:#000000;
    outline:none;
}
.header p a:link,.header p a:visited,.header p a,.footer a,.tags a,.change a,.index-post h1 a,#navi-menu li a {
    text-decoration:none;
}
blockquote,q {
    background:#F5F5F5;
    opacity:0.4;
    height:auto;
    padding:10px;
}
pre,code,xmp {
    background:#3F3F3F;
    padding:5px;
    font-size:12px;
    color:#FFFFFF;
}
/* header */
.header {
    margin-bottom:20px;
    text-align:center;
}
.header p {
    font-size:45px;
    font-family:"PAC-FONT.TTF";
    /* font-family: "shishangzhonghe.ttf"; */
}
.header p a:link,.header p a:visited,.header p a {
    color:#000000;
    outline:none;
}
img {
    max-width:100%;
    transition:all 0.5s;
}
#menu-navi {
    display:none;
}
#menu-navi:checked ~ div {
    display:block;
}
#menu-navi:checked ~ label img{
    transform:rotate(90deg);
}
#navi {
    display:none;
    width:100%;
}
#navi ul {
    margin:0;
    padding:15px;
    list-style:none;
    display:inline-block;
}
#navi ul li {
    font-size:20px;
    display:inline;
    margin:0 10px 0 10px;
}
#navi hr {
    opacity:0.3;
}
#navi-menu li a {
    color:#565352;
}
/* index */
.index-post {
    margin:0 auto;
    text-align:center;
}
.index-post h1 a:hover {
    color:#D1D1D1;
    opacity:2;
    outline:none;
}
.index-post h1 {
    margin:3px 0 3px 0;
}
.titile-info {
    color:#3F3F3F;
    font-size:13px;
}
#hr {
    margin:30px 0 30px 0;
    opacity:0.5;
    font-size:10px;
}
.index-content {
    margin:20px 0 20px 0;
    opacity:0.9;
    color:#333333;
}
#next {
    float:right;
}
/* post */
#post-title {
    font-size:27px;
    opacity:0.8;
    font-family:"hanyi.ttf";
}
.post-info {
    color:#303030;
    margin-top:3px;
    font-size:14px;
}
#post-title,.post-info{
    text-align:center;
}
.tags a {
    background:#F5F5F5;
    border:1px solid;
    padding:3px;
    display:inline-block;
}
.tags a:before {
    content:'#';
}
/* footer */
.footer {
    clear:both;
    text-align:center;
    margin:100px 0 10px 0;
    font-family:"shishangzhonghe.ttf";
}
/* media */
@media screen and (max-width: 640px) {
    body {
        padding:0 5% 0 5%;
    }
    #navi ul {
        padding-top:10px;
    }
    #navi ul li {
        display: block;
    }
    #hr-bottom {
        margin-top:10px;
    }
}
